.form-container h1,
.form-container input{
    border-bottom: 4px #945345de solid ;
}
.form-container h1{
    
    color:var(--primary-font-color) !important;
}

.form-container{
   
    display: flex;
  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  border: var(--primary-font-color) solid 7px;
    background-color: var(--fundal-formular);
}
.form-container h1{
    text-align: center;
    justify-self: center;
    vertical-align: middle;
    font-family:var(--decorativeFont);
    color: var(--primary-font-color);

    
}
.form-container form {
    
    align-self: center;
    /* border: white solid 2px; */
    
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    margin-bottom: 1em;
    
    width: 100%;
    height: auto;
   
    text-align: center;
    background-color:var(--fundal-formular);
    padding-top: 2em;
}
input::-webkit-input-placeholder , textarea::-webkit-input-placeholder{
    /* color: #808080; */
    transition: all .5s;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  
    transform: scale(0.00001)
}

::placeholder{
    color: var(--primary-font-color);
}

.form-container input:focus ~ label,
.form-container textarea:focus ~ label,
.form-container input:valid ~ label,
.form-container textarea:valid ~ label {
    
    font-size: 1rem;
    font-weight: bold;
}
label{
    display: none;
}

#gdpr-label{
    display: inline-block;
}

textarea, input, label{
    width: 100%;
    
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
    border: var(--fundal-formular) solid 2px;
    font-family: var(--decorativeFont);

    color: var(--primary-font-color);
}

textarea{
    text-align: justify;
    height: auto;
    background-color:transparent;
    
}

fieldset {
    border: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: 8fr 1fr;
}
fieldset label a{
    font-size: 1rem;
    color: var(--primary-font-color);
    cursor: pointer;
   transition: color .5s;
    line-height: normal;

}
input[type = checkbox]:hover{
    color: wheat;
    cursor: pointer;
}
button[type="submit"] {
    background: rgba(0, 128, 0, 0.7) !important;
}
button[type="submit"]:hover::after{
    background: green;
}
fieldset label a:hover{
    text-decoration:underline solid black ;
    color:black;
}

.form-container form input, .form-container button{

    background-color: transparent;
}

input[type = button]{
    color: var(--secondary-font-color);
}