/* @import url(navBar.css); */
@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url(variables.css);
@import url(map.css);
@import url(icons.css);
@import url(keyframes.css);
@import url(typography.css);
@import url(footer.css);


.row:before, .row:after {display: none;}

*, *:before, *:after {
	box-sizing: border-box;
  
}

*{
  margin: 0;
  padding: 0;
  
}
  

html{
  background-color: black;
  /* width: 100vw !important; */
 height: 100%;
 width: 100%;
  scroll-behavior: smooth;
  font-family: sans-serif; 
  
}






.b1ackground{
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  
  position: fixed;
  z-index: -2;
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 
  
  



/* blog */
.mask{
  background-color:rgba(251, 251, 251, 0.15);
}


  
  



section{
  color: var(--primary-font-color);
 /* min-height: 100vh; */
  max-width: 96vw !important;
  margin-left: auto;
}
  
  








.whatsapp-cta{
  position: fixed;
 
  right:-95%;
  left:95%;
  top:30%;
  /* bottom: 60%; */
  /* background-color: transparent; */
  display:flex;
  max-width: 10px;
  max-height: 30px;
  z-index: 3;
  
  color: white;
}

.whatsapp-cta div a{
text-decoration: none;
color: white;
  }
.whatsapp-cta div a {
width: 100%;
height: 100%;
}

.hidden, .hover, .whatsapp-cta:hover, .buttonTop:hover{
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  transition-delay: .5s ;
}

.hidden{
  display: none;
}

#buttom-phone{
  width: 100%;
  max-height: var(--bar-heigth);
  display: flex;
  
  align-items:center;
  justify-content: space-around;
  /* justify-content:right; */
  /* background-color: crimson; */
  position: fixed;
 
  bottom: 0;
  /* top: 90vh; */
 
  text-align: center;
  z-index: 4;

  transition: all 1.1s ;
}


#buttom-phone a span{
height: 100%;
display: block;
position: relative;
}


  


#buttom-phone{
  
  background-color: green;
}


#buttom-phone span{
  font-size: 1rem;
  padding: 0;
}




#buttom-phone span{
  transition: all 1.1s ;

}
#buttom-phone:hover span{
  transform: scale(1.1);
  text-shadow: 2px 2px black;
}

#buttom-phone:hover{
  background-position: 10%;
}


.h1-separator::before,
.h1-separator::after{
  /* border-bottom: solid 1px blue; */
  width: 100%;
  height: 100%;
  position: relative;
  content: "________";
  top: -1rem;
  color:var(--secondary-font-color);
}
 
/* FOOTER */


.min-100-vh{
  min-height: 100vh;
}

.icon{
  color:var(--secondary-font-color) ;
  width: 32px;
  height: 32px;
}


.navbar-toggler{
  float: right !important;
}