@import 'main.css';
html{  
    background-color: black !important;
}
header, section{
    margin:auto
}


.categorie .text{
    width: 80vw;
}
    

.text{
    display: block;
    
    margin:5em auto;
    line-height: 2em;

}


.text h1{
    text-transform:uppercase;
}
.text p{
    text-indent: 2em;
}
.text ul{
    margin: 0rem;
}

.parallax{
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
   
    width: 100%;
    height: 50vh;
  
}



section h1{
    text-align: center;
    margin: 1em;
}

li{
    font-size: 1rem;
    padding: .5rem 0;
    list-style-position: inside;
}
        

   .contact2{
       position: relative;
       display:grid;
      
       grid-template-columns: 1fr 1fr;
       gap: 10px;
       align-items: center;
       justify-content: space-around;
   }


