
    
     .btn1{
        text-transform: uppercase;
    }
  .h1{
    font-size: 2rem;
    text-transform: uppercase;
  }
p{
    text-align: left;

    color: #adb7bd; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; 
}

     .section-head{
        overflow-wrap: break-word;
        hyphens: auto;
        line-height: 2em;
        font-family: var(--decorativeFont);
        padding: auto;
    }
    .description{
        padding: 1em;
        width: 100%;
        height: 100%;
        
    }
    .paragraphs ,#gdpr-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .h1-separator{
        transform: scale(.7);
        margin-bottom:2em;
        display: block;
        text-align: center;
      }

      .second-section h3{
          line-height: 7rem;
      }

      #consultanta-online .description{
          margin-top: 0;
          padding-top: 0;
      }
      #consultanta-online .description p{
        margin-top: 1em;
        padding-top: 0;
    }
