.text h1 {
    text-transform: uppercase;
}
.text p {
    text-indent: 2em;
    font-size: 1.3em;
}
.text ul {
    margin: 0rem;
}
.text h3,
.text h4,
.text li::marker,
.text p:first-of-type,
.text h2 {
    color: var(--secondary-font-color);
}

.text li::marker,
.text li {
    font-weight: bold;
}

.text h2,
.text h3,
.text h4,
.text li {
    font-size: 1em;
    margin: 1em 0.5em;
    text-align: center;
}

.text p {
    margin: 1em 0.5em;
}

.text li {
    text-align: justify;
}